<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchApp (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3F6C6C91CD1E7C000CD37E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F6C6E21CD1E7C100CD37E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F6C6ED1CD1E7C100CD37E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F6C7011CD1E82C00CD37E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
